<div class="container main-container">
  <div class="header text-center">
    <img class="img-fluid" src="/images/Logo.png" alt="logo">
  </div>
  <form method="POST" action="/search" id="mainForm">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-center">
        <h2 class="firstheading"> Where will we go? </h2>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="return" value="false"> Without return
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="return" id="inlineRadio2"  value="true"> Return
          </label>
        </div>
        <div>
          <select class="custom-select" name="continent" id="continentSelect">
            <option selected hidden disabled>Select destination</option>
            {{#each continents}}
            <option value="{{ @key }}">{{ this }}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h2 class="secheading"> Which country is the most attractive to you? </h2>
        <select class="form-control" name="country" id="countrySelect">
          <option selected hidden disabled>Country</option>
          <!-- Options list will be dynamically injected here -->
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 text-center">
        <h2 class="date">Please choose the date.</h2>
        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
              August<br>
              <span style="font-size:18px">2016</span>
            </li>
          </ul>
        </div>

        <ul class="weekdays">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>

        <ul class="days">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li><span class="active">10</span></li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-5 text-center">
        <div class="btns">
          <button type="submit" class="btn btn-primary-inline">Submit</button>
          <button type="button" class="btn btn-outline-secondary-inline" onClick="cancelSearch()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
  <div id="resultsContainer">
    <!-- Countries list will be dynamically injected here (from countries.hbs) -->
  </div>
</div>
